@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Overpass:wght@800&display=swap');
*{
  font-family: 'Kanit', sans-serif;
}


.Container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px ;
  width: 500;
}


.Name,.ID{
    color: rgb(0, 0, 0);
    background-color: #e5fffb;
    color: #1d5554;
    justify-content: center;
    display: flex;
    margin: 5px;
    padding: 10px;
    border-radius: 6px;
    font-weight: bold;
    max-width: 400px;
    width: 80%;
  }

  .spinner-container {
    justify-content: center;
    display: flex;
    align-items: center; /* Center vertically */
    position: fixed; /* Fix the position */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7); /* Add a semi-transparent background */
    z-index: 9999; /* Make sure it's on top of everything */
  }
  

  .buttoncontainer{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
  }


.card{
  background-color: #B2F5EA;
  margin: 20px 20px;
  color: #1d5554;

}

.Icon{
  margin-top: 50px;
  height: 50px;
  width: 50px;
}

.box{
  padding: 20px;
  background-color: #B2F5EA;
  margin-top: 20px;
  color: #1d5554;
  border-radius: 6px;
  max-width: 400px;
}

.NoRecord{
  margin-top: 30px;
  font-weight: bold;

}
