
/* NDX */
.Headform{
  font-weight: bold;
  font-size: 30px;
  display: flex;
  justify-content: center;
}

.btncontainer {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 150px;
}

.addbutton {
  background-color: rgb(84, 175, 197);
  padding: 8px 10px;
  border-radius: 5px;
  color: white;
  text-align: center;
  flex: 1;
  margin-left: 20px;
}

.submitbtn{
  background-color: rgb(90, 199, 90);
  padding: 8px 10px;
  border-radius: 5px;
  color: white;
  text-align: center;
  flex: 1;
  margin-left: 20px;
  margin-right: 20px;
}

.deletebutton {
  background-color: rgb(236, 72, 72);
  padding: 8px 10px;
  border-radius: 5px;
  margin-top: 5px;
  color: white;
  float: right;
}



.buttongroup{
  display: flex;
  justify-content: center;
}

.sectiongap{
  margin-top: 15px;
}

.gapInput{
  margin-bottom: 5px;
  font-weight: bolder;
}

.NDXformcontainer{
  background-color: #5fe5ac;
  margin: 20px 20px;
  padding: 20px 20px;
  border-radius: 10px;
}

.Sformcontainer{
  background-color: #ff99e6;
  margin: 20px 20px;
  padding: 20px 20px;
  border-radius: 10px;
}

.Iformcontainer{
  background-color: #d580ff;
  margin: 20px 20px;
  padding: 20px 20px;
  border-radius: 10px;
}

.Oformcontainer{
  background-color: #66e0ff;
  margin: 20px 20px;
  padding: 20px 20px;
  border-radius: 10px;  
}

.Eformcontainer{
  background-color: #99ff99;
  margin: 20px 20px;
  padding: 20px 20px;
  border-radius: 10px;
}


.textarearesize{
  width: 300px;
 padding: 6px;
 border-radius: 7px ;
}


input {
padding: 6px;
border-radius: 7px ;
}