@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Overpass:wght@800&display=swap');
*{
  font-family: 'Kanit', sans-serif;
}

.Navbar{
    margin-bottom: 1px;
    font-family: 'Kanit', sans-serif;
}