@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Overpass:wght@800&display=swap');
*{
  font-family: 'Kanit', sans-serif;
}

.patientheaddata{
  display: flex;
  justify-content: center;
  padding-top: 100px;
  flex-direction: column;

  
}

.Name{
  color: rgb(0, 0, 0);
  background-color: blanchedalmond;
    justify-content: center;
    display: flex;
    margin: 20px;
    padding: 10px;
    border-radius: 6px;
    font-weight: bold;

  }
  
  .ID{
    color: rgb(0, 0, 0);
    background-color: blanchedalmond;
    justify-content: center;
    display: flex;
    margin: 20px;
    padding: 10px;
    border-radius: 6px;
    font-weight: bold;
}

.containercard{
  margin-bottom: 20px;
}
.line{
  margin-top: 20px;
}
.card{
  background-color: rgb(153, 49, 49);
  margin: 20px 20px;

}