@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Overpass:wght@800&display=swap');
*{
  font-family: 'Kanit', sans-serif;
}


.Container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 80px ;
  margin-bottom: 30px ;
  width: 500;
}


.Name,.ID{
    color: rgb(0, 0, 0);
    background-color: rgb(157, 255, 186);
    justify-content: center;
    display: flex;
    margin: 5px;
    padding: 10px;
    border-radius: 6px;
    font-weight: bold;
    width: 400px;
  }

  /* .seperate{
    padding: 10px;
  } */

  .buttoncontainer{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
  }
.containercard{
  /* margin-bottom: 50px; */
}

.addButton {
  background-color: #198754;
  margin-right: 10px; /* Adjust the margin as needed */
}

.deleteButton {
  background-color: #ff6464;
}


.card{
  background-color: rgb(208, 235, 253);
  margin: 20px 20px;

}

