/* components/BackButton.module.css */
@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Overpass:wght@800&display=swap");
* {
  font-family: "Kanit", sans-serif;
}

.backButton {
  position: relative;
  width: 20px; /* Adjust the width and height to your preference */
  height: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: large;
}


    
  .backButton:hover {
    color: #2a91ff;
  }



  .backbtnlayout{

    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
  }